<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-white text-center shadow bg-info mb-3">
        <div class="card-header bg-transparent border-white"><%=@post.title%></div>
        <div class="card-body text-white">
          <h5 class="card-title"><%=@post.title%></h5>
          <p class="card-text"><%=@post.description%></p>
        </div>
        <div class="card-footer bg-transparent border-white">
          <%= link_to "Edit",edit_post_path,class:"btn btn-outline-warning" %>
          <%= link_to "Delete",post_path,class:"btn btn-outline-warning",method: :delete %>
        </div>
      </div> 
    </div> 
  </div>
  <%= form_with(model:[@post,@post.comments.build]) do |f| %>
    <%= f.label :comment%></br>
    <%= f.text_area :body,placeholder:"write comment here" %></br>
    <%=f.submit "submit"%>
    <% end %>


  <% @comments.each do |comment| %>
    <strong><%= comment.user.name%></strong> --
    <%= comment.body %></br> 
    <%= time_ago_in_words(comment.created_at)%> ago</br>
    <hr> 
  <% end %>
</div>
